body{
    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1,h2{          
    text-align: center;
    text-transform: uppercase;      
    color: cadetblue;
    line-height: 50pt;
    border: 2px dashed;    
    text-shadow: 2px 2px rgb(13, 88, 91) ;
}

.head-banner{    
    background-color: rgb(164, 193, 218);        
    border-bottom: 2px dashed rgb(110, 112, 112);     
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.main-content{
    position: relative;
    top: 3em;    
}

.head-banner .large{
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 3em;    
}

.head-banner .large span{
    margin-right: 1em;
}

.head-banner .large .user-items{
    float: right;  
    margin-left: auto;  
}

.head-banner .small{ 
    text-align: center;    
    display: none;
    justify-content: center;   
}

.head-banner .small .menu-items{
    width: 200px; 
    padding: 5px 10px;
}

.head-banner a{
    color: rgb(17, 71, 74);
    text-decoration: none;
    border: 1px solid;
    box-shadow: 2px 2px black;
    padding: 3px;
}

.head-banner .small a{
    display: block;
}

.head-banner .menu-items :hover{
    background-color: rgb(42, 98, 99);
    color: white;
}

.main-content td{    
    width: 50%;
}

.main-content table{
    width: 100%;
    text-align: center;
    margin-top: 3em;    
}

#topic-area{
    border: 3px solid gray;
    height: 28em;
    overflow-y: scroll;    
    word-wrap: normal;
    width: 70%;
    margin: auto;
    background-color: gainsboro;    
}

#topic-area table{    
    text-align: center;    
    margin-top: -2px;
}

#topic-area table td,th{    
    border-bottom: 1px solid;
    border-right: 2px solid;
    padding: .7em;
}

thead{
    position: sticky;
    top: 0;
    background-color: rgb(192, 203, 216);
}

.stats-div{    
    width: 90%;
    height: 40em;
    margin: auto;
    background-color: gainsboro;
    padding: 1em;
    border-radius: 2em;
    overflow-y: scroll;
}

.stats-div * {
    -webkit-tap-highlight-color:transparent;    
}

.node, .nested{
    list-style-type: none;
}

.items{
    cursor: pointer;
    user-select: none;  
    margin: .8em;       
}

.caret{    
    border-width: 01px 3px 2px 1px;
    border-style: solid;    
    padding: .3em;
}

.caret::before{
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before{
    transform: rotate(90deg);    
}

.nested{
    display: none;
}

.active{
    display: block;
}

.sub-progress{
    font-weight: bolder;    
}

.red{ color: red;}
.yellow{ color: orange;}
.green{ color: green; }
.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.form{
    max-width: fit-content;
    align-self: center;
    border-width: 1px 6px 6px 1px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;    
}

.form table{
    margin-top: 0;
    text-align: left;
}

.form div{
    text-align: center;
    margin-top: 20px;
}

.form textarea, .form input{
    width: 100%
}

@media screen and (max-width:500px) {
    .head-banner .large{         
        display: none;
    }

    .head-banner .small{
        display: grid;        
    }

    #topic-area{
        width: 95%;
    }
    .form{
        padding-left: 10px;
        padding-right: 10px;
    }
}
