<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Topics</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>    
    <div class="head-banner"></div>    
    <div class="main-content">
        <h2>Add the Subject and Topics for Today</h2>
        <div class="form">
            <table>
                <tr>
                    <td>Subject:</td>
                    <td><input type="text" name="subject" id="subject-name" placeholder="subject name" ></td>
                </tr>
                <tr>
                    <td>Topics:</td>
                    <td><textarea name="Topics" id="topic-names" cols="30" rows="10" placeholder="topic1&NewLine;topic2&NewLine;topic3&NewLine;..."></textarea></td>
                </tr>                                                    
            </table>
            <div>
                <button type="submit" id="submit-topics" onclick="addTopic()"> Submit </button>
            </div>
        </div>
    </div>    
    <script src="../static/script.js"></script>
</body>
</html>