<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <div class="head-banner"></div>    
    <div class="main-content">
        <h2>Register</h2>
        <div class="form">
            <table>
                <tr>
                    <td><label for="user">User Name: </label></td>
                    <td><input type="text" id="user"></td>
                </tr>
                <tr>
                    <td><label for="password">Password: </label></td>
                    <td><input type="password" id="password"></td>
                </tr>
            </table>
            <div>
                <button type="submit" id="register-btn" onclick="register()"> Submit </button>
            </div>
        </div>
    </div>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>
</body>

</html>