<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="head-banner"></div>    
    <div class="main-content">
        <h2>Stats for your Revision</h2>
        <div class="stats-div">
            <ul class="node">
                {% if not data %}
                <h3>No Stats to show</h3>
                {% else %}
                {% for subs, topics in data.items() %}
                <li class="items" style="margin-top: 2em;"><span class="caret " style="font-weight: 900;">{{ subs }} </span> &ThickSpace; % done: <span class="sub-progress">{{ ((topics[0]*100)/topics[1])|round(2) }}</span>
                    <ul class="nested">
                        {% for topic in topics[2:] %}
                        <li class="items"><span class="caret ">{{ topic[0] }}</span>
                            <ul class="nested">                            
                                <li class="items"><b>Upcoming Revision Date: </b>{{ topic[1] }}</li>
                                <li class="items"><b>No. of Revisions Done: </b>{{ topic[2] }}</li>                            
                            </ul>
                        </li>
                        {% endfor %}                                                
                    </ul>
                </li>
                {% endfor %}
                <!-- {{data}} -->
                {% endif %}
            </ul>
        </div>        
    </div>    
    <script src="../static/script.js"></script>
</body>
</html>
</body>
</html>